body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}
.header {
  font-size: 50px;
  color: white;
}
.download {
  font-size: 16px;
}
.guide {
  font-size: 42px;
  font-weight:  300;
  color: white;
}
.places {
  font-size: 21px;
  color: gray;
}
a {
  color: Aquamarine;
}
footer {
  display: block;
  color: gray;
  text-align: right;
}
