body {
    background-color: black;
}
h1, h2, p {
  font-family: Verdana;
  text-align: center;
}
h1 {
  font-size: 50px;
  color: white;
}
h2 {
  font-size: 16px;
  color: Aquamarine;
  text-align: center;
}
